.container{
    display: flex;
}

.container_box{
    width: 50%;
    margin: 16px;
}

.mainimg{
    width: 100%;
}

.container_chat{
    width: 50%;
    height: 100vh;
    background-color: aliceblue;
}

.inputBox{
    height: 100px;
    background-color: #eee7c2;
    width: 100%;
    right: 0;
    bottom: 0;
    position: sticky;

    }
