.container{
display: flex;
width: 100%;
height: 100vh;
background-image: url(付箋花.jpg);
background-position: bottom;
background-size: cover;
color:#555;
font-size: 18px;
}

.left{
    width: 50%;
}

.container_box{
    width: 100%;
    background-color: cornsilk;
    text-align: center;
    padding-bottom: 20px;
}

.container_box p{
    margin: 20px;
}

.mainimg{
    max-width: 600px;
}

.container_chat{
  width: 60%;
  color:#555;
  font-size: 18px;
  text-align: center;
  flex-direction: column;
  overflow: auto;
}

.inputBox{
    background-color: cornsilk;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 100%;
    text-align: center;
    padding-bottom: 20px;
    box-sizing: border-box;
    }

.comment{
    width: 200px;
    margin: 10px;
    padding: 30px;
    padding-top: 60px;
    background-image: url(付箋.png);
    background-size: cover;
    word-wrap: break-word;
}

.container_chat ul{
  display: flex;
  flex-wrap: wrap;
}

.comment p{
 white-space: pre-wrap;
}

.postBy{
    font-weight: bold;
}

.postTitle{
    background-color: beige;
    padding: 20px 0;
    font-weight: bold;
}

.postText{
    padding: 20px 0;
    border: 1px solid #777;
}

.name{
    margin: 6px 0;
    font-weight: bold;
    color: darkslategray;
}

.inputName{
    padding: 20px 0;
    font-weight: bold;
}

.inputComment{
    width: 500px;
    height: 50px;
}
